In [1]:
import pandas as pd
from Functions.Excel_writer import Excel_writer
from Functions.merge_intervals import merge_intervals

In [2]:
data_main = pd.read_excel("Lab_summary_final.xlsx")
data_main.head()

,Hole_ID,Type,From_mbgl,To_mbgl,Chainage,Easting (m),Northing (m),Surface RL (m AHD),BH Depth (m),Geology_Orgin,...,Defect Spacing,Intact Strength,Weathering,Rock,Rock color,Is_50?,Geological_unit_Is50,Is(50) Axial,Is(50) Diametral,Is50 combined
0,ARU-K-AH05,AH,1.0,1.45,21200.0,508565.074,6946835.991,49.04,NaN,ALLUVIUM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ARU-K-AH05,AH,1.5,NaN,21200.0,508565.074,6946835.991,49.04,NaN,ALLUVIUM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ARU-K-AH06,AH,2.5,2.93,21200.0,508532.325,6946826.220,49.44,NaN,RS_XW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARU-K-AH06,AH,2.7,NaN,21200.0,508532.325,6946826.220,49.44,NaN,RS_XW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARU-K-AH17,AH,1.0,1.45,22000.0,509118.640,6946370.105,54.99,NaN,RS_XW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_main.describe()

,From_mbgl,To_mbgl,Chainage,Easting (m),Northing (m),BH Depth (m),LL (%),PL (%),PI (%),LS (%),...,0.032,0.030,UCS (MPa),Is50d (MPa),Is50a (MPa),Core Rec (%),RQD (%),Is(50) Axial,Is(50) Diametral,Is50 combined
count,2459.000000,480.000000,2459.000000,2459.000000,2.459000e+03,389.000000,279.000000,279.000000,279.000000,279.000000,...,1.0,1.0,159.000000,156.000000,156.000000,121.000000,126.000000,921.000000,937.000000,1817.000000
mean,10.962342,3.183458,30232.262017,513437.541636,6.940166e+06,14.057918,56.534767,22.642294,33.892473,13.879570,...,54.0,0.2,20.962327,1.396603,1.584936,98.264463,70.763492,1.290489,1.234621,1.276835
std,6.788030,3.118664,5960.282734,3678.108229,4.154467e+03,8.458216,24.950775,5.636374,21.749051,6.589072,...,NaN,NaN,22.440734,1.787833,1.931894,6.598950,23.603710,1.820362,1.805926,1.824607
min,0.000000,0.150000,20800.000000,508228.312000,6.933807e+06,0.250000,17.000000,12.000000,1.000000,1.000000,...,54.0,0.2,0.100000,0.020000,0.020000,47.000000,17.000000,0.000000,0.010000,0.000000
25%,5.865000,1.450000,24450.000000,509573.500000,6.936549e+06,4.500000,36.500000,18.000000,16.000000,9.000000,...,54.0,0.2,3.050000,0.157500,0.190000,100.000000,52.250000,0.180000,0.120000,0.150000
50%,10.660000,2.450000,29330.000000,512323.890000,6.940453e+06,15.180000,52.000000,22.000000,30.000000,14.000000,...,54.0,0.2,13.000000,0.700000,0.935000,100.000000,75.000000,0.560000,0.460000,0.510000
75%,15.125000,4.275000,35090.000000,516218.130000,6.944008e+06,20.350000,74.000000,26.000000,48.500000,19.000000,...,54.0,0.2,32.500000,1.825000,2.200000,100.000000,93.500000,1.700000,1.600000,1.600000
max,38.000000,28.150000,39665.890000,520434.720000,6.947073e+06,35.100000,144.000000,40.000000,112.000000,31.500000,...,54.0,0.2,120.000000,8.700000,9.200000,100.000000,100.000000,20.000000,13.000000,20.000000

In [4]:
SPT = pd.read_excel("SPT.xlsx")
SPT.head()

,Hole_ID,Chainage,Report,From_mbgl,To_mbgl,Surface RL (m AHD),Geology_Orgin,SPT?,Test type,Consistency,Full class - from SPT test,ISPT_REP,ISPT_HAMB,ISPT_ASNV,SPT N Value,Interpreted Su (4.5),Material Type,Consistency from log classification
0,B-AH-1,27090.0,GHD GFR_02.04.02 12534697,1.0,NaN,30.75,NaN,Y,SPT,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN
1,B-AH-1,27090.0,GHD GFR_02.04.02 12534697,2.5,2.95,30.75,Residual to Extreme Weathered,Y,SPT,H,NaN,NaN,NaN,NaN,32.0,NaN,NaN,NaN
2,B-AH-1,27090.0,GHD GFR_02.04.02 12534697,4.0,NaN,30.75,NaN,Y,SPT,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN
3,B-AH-1,27090.0,GHD GFR_02.04.02 12534697,5.5,NaN,30.75,NaN,Y,SPT,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN
4,B-AH-1,27090.0,GHD GFR_02.04.02 12534697,7.0,NaN,30.75,NaN,Y,SPT,NaN,NaN,NaN,NaN,NaN,50.0,NaN,NaN,NaN

In [5]:
data_main = data_main.merge(right=SPT, how='outer', on=['Hole_ID', 'From_mbgl', 'Report', 'Chainage', 'Surface RL (m AHD)'])

In [6]:
BH_Interpretation = pd.read_excel("Input/BH_Interpretation.xlsx")
BH_Interpretation

,Hole_ID,From_mbgl,To_mbgl,Thickness,Geology_Orgin,Consistency,Report
0,B-BH-08,0.0,0.20,0.20,TOPSOIL,NaN,GHD GFR_02.04.02 12534697
1,B-BH-08,0.2,3.50,3.30,RS_XW,St,GHD GFR_02.04.02 12534697
2,B-BH-08,3.5,5.00,1.50,RS_XW,VSt,GHD GFR_02.04.02 12534697
3,B-BH-08,5.0,10.00,5.00,RS_XW,H,GHD GFR_02.04.02 12534697
4,B-BH-08,10.0,10.72,0.72,Dcf,4b,GHD GFR_02.04.02 12534697
...,...,...,...,...,...,...,...
1888,E-TP-4,1.7,2.40,0.70,ALLUVIUM,VSt,GHD GFR_02.04.02 12534697
1889,E-TP-5,0.0,0.10,0.10,TOPSOIL,St,GHD GFR_02.04.02 12534697
1890,E-TP-5,0.1,0.50,0.40,ALLUVIUM,St,GHD GFR_02.04.02 12534697
1891,E-TP-5,0.5,1.00,0.50,ALLUVIUM,H,GHD GFR_02.04.02 12534697
1892,E-TP-5,1.0,2.40,1.40,ALLUVIUM,H,GHD GFR_02.04.02 12534697

In [7]:
data_main = merge_intervals(data_main, BH_Interpretation[['Hole_ID', 'From_mbgl', 'To_mbgl', 'Geology_Orgin', 'Consistency']])

condition = data_main['Geology_Orgin'].isna()
data_main.loc[condition, 'Geology_Orgin'] = data_main['Geology_Orgin']

condition = data_main['Consistency'].isna()
data_main.loc[condition, 'Consistency'] = data_main['Consistency_geo']

Excel_writer(data_main, "Lab_summary_final.xlsx", no_of_id_column=13)

KeyError: 'Geology_Orgin'